.clr {
  clear: both;
}

hr {
  margin: 0px;
}

a {
  color: currentColor;
}

h1 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 0px;
  margin: 0px;
}

h2 {
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  font-style: italic;
}

h3 {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

h4 {
  margin: 0px;
  padding: 0px;
  font-weight: lighter;
}

.video {
  margin-top: -16vw;
}
iframe {
  width: 640px;
  height: 360px;
}
@media only screen and (max-width: 600px) {
  iframe {
    width: 100vw;
    height: 57vw;
  }
  .video {
    width: 100%;
  }
}
.heroimg {
  width: 100%;
}
.para {
  text-align: justify;
  max-width: 800px;
  margin: auto;
}

.pictureswrapper img {
  display: inline-block;
  width: 48%;
}

body {
  text-align: center;
  background-color: #1f201d;
  color: white;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 700;

  line-height: 1.6em;
}
