 
 
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250;
  }

  .clr{
      clear: both;
  }

  

h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0px;
    margin: 0px;
    
}

h2{
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    font-style: italic; 
}

h3{
    
    font-weight: bold;
    margin-bottom: 0px;
}

h4{
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
}

p1{
    font-size: 14px;
    text-align: center;
    padding-left: 275px;
    padding-right: 275px;
    display: block;
}

p2{
    margin-top: 200px;
}

.block{
    display: inline;
    float: left;
    align-items: center;
    width: 22.3%;
    border: 0px solid#ccc;
    box-sizing: border-box;
    padding-left: 300px;
   
    
    
}

body{
    background-color: #1f201d;
    color: white;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 700;
    
    /*can also be written as:
    font: normal 16px arial, Helvetica, sans-serif;*/

    line-height: 1.6em;

}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:red;
}



.container{
    width: 80%;
    margin: auto;
}

.boxOne{
    background-color: #333;
    color: rgb(167, 48, 48);

    /*border-right: 10px blue solid;*/

    border: 5px green solid;
    border-width:10px;
    padding-top: 40px;
    margin: 33px;
    
}

.boxOne h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 4em;
}

.boxTwo{
    border: 3px dotted#ccc;
    padding:20px;
    margin: 20px 0;
}

.categories h2{
    text-align: center;
}